@use 'components/grid-layouts';
@use './components/flex-components';
@use 'components/navbar';

@use 'src/colors';
@use 'src/mixins.scss';
@use 'src/grid-templates';

// ***************************************************
// Grid Definitions

@include grid-layouts.no-sidebar-hero();

@include grid-layouts.sidebar();

// Grid Definitions End
// ***************************************************

@include navbar.navbar();

// ***************************************************
// General Use Cells:
.hero-cell
{
	grid-area: hero;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	background: url('') no-repeat center;
	background-size: contain;

	@include mixins.main-border();

	background-color: colors.$second-color;

	padding: 4rem;
	div
	{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}

.main-content-cell
{
	grid-area: content;

	display: flex;
	justify-content: center;

	padding: .5rem;

	min-height: 100vh;

	// background-color: colors.$main-color;

	img
	{
		@include mixins.main-border();
	}
}

.sidebar-cell
{
	grid-area: lcell;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	background-color: colors.$main-color;
	
	padding: .5rem;
	@include mixins.main-border();
	
	
	a
	{
		color: #fff;
		text-decoration: none;
		margin: .4rem 0;
		padding: 3px;
		border-radius: .25rem;
	}
	
	a:hover
	{
		background-color: #fff;
		color: black;
	}
}

@media only screen and (max-width: 900px)
{
	.sidebar-cell
	{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: flex-start;

	}
}

.footer-cell
{
	grid-area: footer;

	display: flex;
	justify-content: space-around;
	align-items: center;

	border-top: solid;
	background-color: colors.$main-color;
	
	i
	{
		color: white;
	}
}

// End General Use Cells
// ***************************************************

// ***********************************************
// Mindless FlexBox Classes

.flex
{
	display: flex;
}
.flex-row
{
	display: flex;
	justify-content: space-around;
}
.column
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.justify-space-between
{
	justify-content: space-between;
}

.justify-start
{
	justify-content: flex-start;
}

.justify-self-end
{
	justify-self: flex-end;
}

.align-space-between
{
	align-content: space-between;
}

.align-items-center
{
	align-items: center;
}

.align-self-end
{
	align-self: flex-end;
}


// End Mindless FlexBox Classes
// ***********************************************

// ***********************************************
// Mindless Classes

.p0
{
	padding: 0;
}