@use '../src/mixins';

// ***********************************************
// Specific FlexBox Classes

.img-container-med
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-self: flex-end;
	width: 40%;

	border-radius: .25rem;
	box-shadow: 2px 2px 5px black;
	background-color: black;

	img
	{
		border-radius: .25rem;
	}
}

.blog-preview
{
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 50vh;

	margin-bottom: 1rem;

	text-align: center;
	@include mixins.main-border;

	.blog-excerpt
	{
		font-size: 1rem;
	}

	.blog-data
	{
		font-size: .8rem;
	}
}