.flex-row
{
	display: flex;
	justify-content: space-around;
}

.flex
{
	display: flex;
}

.justify-self-end
{
	justify-self: flex-end;
}

.align-items-center
{
	align-items: center;
}

.align-self-end
{
	align-self: flex-end;
}

.column
{
	display: flex;
	flex-direction: column;
}


.img-container-med
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-self: flex-end;
	width: 40%;

	border-radius: .25rem;
	box-shadow: 2px 2px 5px black;
	background-color: black;

	img
	{
		border-radius: .25rem;
	}
}