@use '../src/mixins';

// ***********************************************
// Specific Page Components

.img-container-med
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-self: flex-end;
	width: 40%;

	border-radius: .25rem;
	box-shadow: 2px 2px 5px black;
	background-color: black;

	img
	{
		border-radius: .25rem;
	}
}

.blog-preview
{
	display: flex;
	flex-direction: column;
	align-items: center;

	min-height: 33vh;

	margin-bottom: 1rem;
	padding: .5rem 1rem 1rem 0;

	text-align: center;
	@include mixins.main-border;

	.blog-excerpt
	{
		padding: 1rem;
		font-size: 1rem;
	}

	.blog-data
	{
		font-size: .8rem;
	}

	img
	{
		height: 20vh;
	}

	a
	{
		color: black;
	}
	h1
	{
		margin-bottom: .2rem;
	}
}